.App {
  text-align: center;
}


.App-body {
  height: 500px;
  width:95%;
}

.dygraph-label-rotate-right{
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  transform: rotate(-90deg);
  margin-left: 10px;
}

.dygraph-label.dygraph-ylabel{
  text-align: center;
}

.dygraph-label.dygraph-xlabel{
  text-align: center;
}