.Graph {
  text-align: center;
}

.Graph-body {
  height: 500px;
  width:95%;
  padding:5px;
}

.dygraph-label-rotate-right{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 10px;
}

.dygraph-label.dygraph-ylabel{
  text-align: center;
}

.dygraph-label.dygraph-xlabel{
  text-align: center;
}

.dygraph-legend{
  left: 43% !important;
  top: 103% !important;
  position: absolute;
}